* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #2C2B3D;
  color: #fff;
  font-size: 1.6rem;
  height: 100vh
}

#page {
  width: 109.2rem;
  margin: 0 auto;
  padding-top: 7rem;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7.7rem;
  margin-bottom: 10rem; 
}

section {
  width: 614px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

nav ul {
  display: flex;
  gap: 6.4rem;
  list-style: none;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.8rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  color: #C2C2C2;
}

nav ul,
section h1,
footer {
  font-family: "JetBrains Mono", sans-serif;
}

section h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 5.9rem;
}

section h1 span {
  color: #00BFA6;
}

section p {
  color: #C2C2C2;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.8rem;
}

section p+p {
  margin-top: 2rem;
}

section p span {
  color: #00BFA6;
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.8rem;
}

#line {
  width: 56.8rem;
  height: 0;
  margin: 0 auto 2.7rem;
  border: 1px solid #00BFA6;
}

#padlock {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
}